
$body: (#6495ed);
@use "./variables";

/* Estilo comun a todas las paginas */
*{
    margin: 0%;
    padding: 0%;
}

body {
    background-color:$body;
    font-family: variables.$font;
}

@media screen and (min-width: 768px) {
    
    /* Estilo comun a todas las barras de navegación Desktop*/
        
h1{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-size: 4vw;
    margin-bottom: 1vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    animation-name: focus-in-contract-bck;
    animation-duration: 2s;
    animation-iteration-count: initial;
    }
        
    .focus-in-contract-bck {
            -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
         
    @keyframes focus-in-contract-bck {
            0% {
              letter-spacing: 1em;
              -webkit-transform: translateZ(300px);
                      transform: translateZ(300px);
              -webkit-filter: blur(12px);
                      filter: blur(12px);
              opacity: 0;
            }
            100% {
              -webkit-transform: translateZ(12px);
                      transform: translateZ(12px);
              -webkit-filter: blur(0);
                      filter: blur(0);
              opacity: 1;
            }
    }

nav {
    div{
        background-color: grey;
        padding:5px
        
    }
}
nav {
    ul{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        width: 100%;
        height: 2.5vw;
        align-content: center;
        justify-content: space-around;
        padding-top: 10px;
    }
}
nav {
    a{
        font-family: variables.$font;
        font-style: normal;
        text-decoration: none;
        color: aliceblue;
    }
}
nav {
    li{
        list-style: none;
        }

    li:hover {
        transform: scale(1.1) ;
        -webkit-transform: scale(1.1) ;
        -moz-transform: scale(1.1) ;

    }
    a:hover{
        color:rgb(0, 1, 3);
    }
}

nav {
    input{
        border-radius: 10px;
        justify-content: space-around;
        align-items: center;
    }   
}

}

@media screen and (max-width: 768px) {
    
    /* Estilo comun a todas las barras de navegación Mobile*/

.navbar {

        a{
          color: black;
          text-decoration: none;
        }
        a:hover {
          color: $body;
        }

}

}